export PORT = Puerto en el que se ejecutara el proyecto
export DATABASE_PATH = ruta en donde se creara la base de datos
export DATABASE_NAME = Nombre de la BD

export JWT_SECRET_KEY = Clave secreta para la generacion de JWTs
export JWT_ACCESS_TOKEN_EXPIRES = Tiempo de expiracion del token de acceso en segundos